<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="static/styles.css">
        <script src="static/app.js"></script>

        <title>Enzyme Profiling</title>
    </head>
    <body>
        <!-- Header -->
        <div>
            <h1>COmprehensive Motif Evaluation Toolkit</h1>
        </div>
        <div>
            <!-- Header Buttons -->
            <div class="container-header">
                <div class="button-group">
                <button class="buttonHeader" onclick="pageHome()">Home</button>
                <button class="buttonHeader" onclick="pageProcessDNA()">Process DNA</button>
                <button class="buttonHeader" onclick="pageFilterAA()">Filter AA</button>
                <button class="buttonHeader" onclick="pageFilterMotif()">Filter Motif</button>
            </div>
        </div>


        <!-- Application -->
        <div class="box">
            <h2>Filter Amino Acids</h2>
            <p>
                This program allows you to visualize your profiling data.<br><br>
                You can filter the data by locking one or more amino acids at a given
                position in the sequence.
            </p>

            <!-- Forms -->
            <div class="box-form">
                <form id="filterSubs" enctype="multipart/form-data" class="input-form" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

                    <!-- Enzyme name -->
                    <div class="form-group">
                        <label for="enzymeName">Enzyme Name:</label>
                        <div class="form-wrapper">
                            <input type="text" id="enzymeName" name="enzymeName" required value="Name">
                        </div>
                    </div>

                    <!-- Experimental ds -->
                    <div class="form-group">
                        <label>Experimental Data:</label>
                        <div class="form-wrapper">
                            <label class="label-sub" for="fileExp">Substrates:</label>
                            <input type="file" id="fileExp" name="fileExp"
                                   accept=".pkl"
                                   value="data/variantsExp.fastq"
                                   multiple>
                        </div>
                    </div>

                    <!-- Background ds -->
                    <div class="form-group">
                        <label>Background Data:</label>
                        <div class="form-wrapper">
                            <label class="label-sub" for="fileBg">Counts:</label>
                            <input type="file" id="fileBg" name="fileBg"
                                   accept=".csv"
                                   value="data/variantsBg.fastq"
                                   multiple>
                        </div>
                    </div>

                    <!-- Sequence Length -->
                    <div class="form-group">
                        <label for="seqLength">Sequence Length:</label>
                        <div class="form-wrapper">
                            <input type="number" id="seqLength" name="seqLength"
                               value="8" min="1" onchange="updateFixedAA()" style="width: 50px;"
                             required>
                        </div>
                    </div>

                    <!-- Fix AA and Position -->
                    <div class="form-group">
                        <label>Fix Residues:</label>
                        <div id="fixAAContainer"></div>
                    </div>
                    <div class="form-group">
                        <label>Exclude Residues:</label>
                        <div id="exclAAContainer"></div>
                    </div>

                    <!-- Execute -->
                    <div class="button-wrapper">
                        <button class="button" onclick="buttonFilterSubs('aa')">Evaluate</button>
                    </div>
                </form>

            </div>
        </div>
        <div class=ft>
            <a href="https://brent.iverson.cm.utexas.edu/">
                <button class="btn">Iverson Lab</button>
            </a>
            <span>2026</span>
        </div>
    </body>
</html>
