<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/styles.css">
        <script src="../static/app.js"></script>
        <title>COMET</title>
    </head>
    <body>
        <!-- Header -->
        <div>
            <h1>COmprehensive Motif Evaluation Toolkit</h1>
        </div>
        <div>
            <!-- Header Buttons -->
            <div class="container-header">
                <div class="button-group">
                    <button class="buttonHeader" onclick="pageProcessDNA()">Process DNA</button>
                    <button class="buttonHeader" onclick="pageFilterAA()">Filter AA</button>
                    <button class="buttonHeader" onclick="pageFilterMotif()">Filter Motif</button>
                    <button class="buttonHeader" onclick="pageCombineProfiles()">Combine Profiles</button>
                </div>
                <div class="button-group-r">
                    <button class="buttonHeader" onclick="pageHome()">Help</button>
                    <button class="buttonHeader" onclick="pageResources()">Resources</button>
                </div>
            </div>
        </div>

        <!-- Application -->
        <div class="box">
            <h2>Filter Motif</h2>
            <p>
                Apply an automated, entropy-based filter to your data.
            </p>

            <!-- Forms -->
            <div class="box-form">
                <form id="filterSubs" enctype="multipart/form-data" class="input-form" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

                    <!-- Enzyme name -->
                    <div class="form-group">
                        <label for="enzymeName">Enzyme Name:</label>
                        <div class="form-wrapper">
                            <input type="text" id="enzymeName" name="enzymeName" required value="Name">
                        </div>
                    </div>

                    <!-- Experimental dataset -->
                    <div class="form-group">
                        <div class="help">
                            <label>Experimental Data:</label>
                            <div class="help-icon">?
                                <span class="help-tooltip">
                                    Experimental substrates.<br>
                                    Only use unfiltered substrates.<br>
                                    Acceptable file extension: .pkl
                                </span>
                            </div>
                        </div>
                        <div class="form-wrapper">
                            <label class="label-w" for="fileExp">Substrates:</label>
                            <input type="file" id="fileExp" name="fileExp"
                                   accept=".pkl"
                                   value="data/variantsExp.fastq"
                                   multiple>
                        </div>
                    </div>

                    <!-- Background dataset -->
                    <div class="form-group">
                        <div class="help">
                            <label>Background Data:</label>
                            <div class="help-icon">?
                                <span class="help-tooltip">
                                    Background count matrix.<br>
                                    Acceptable file extension: .csv
                                </span>
                            </div>
                        </div>
                        <div class="form-wrapper">
                            <label class="label-w" for="fileBg">Counts:</label>
                            <input type="file" id="fileBg" name="fileBg"
                                   accept=".csv"
                                   value="data/variantsBg.fastq"
                                   multiple>
                        </div>
                    </div>

                    <!-- Sequence Length -->
                    <div class="form-group">
                        <div class="help">
                            <label for="seqLength">Sequence Length:</label>
                            <div class="help-icon">?
                                <span class="help-tooltip">
                                    Number of AAs in the substrate.
                                </span>
                            </div>
                        </div>
                        <div class="form-wrapper">
                            <input type="number" id="seqLength" name="seqLength"
                               value="8" min="1" style="width: 60px;"
                               onchange="updateFixedAA()"
                               required>
                        </div>
                    </div>

                    <!-- Filter Substrates -->
                    <div class="form-group">
                        <div class="help">
                            <label>Fix Residues:</label>
                            <div class="help-icon">?
                                <span class="help-tooltip">
                                    Select substrates with a given AA at a defined
                                    residue in the sequence.
                                </span>
                            </div>
                        </div>
                        <div id="fixAAContainer"></div>
                    </div>
                    <div class="form-group">
                        <div class="help">
                            <label>Exclude Residues:</label>
                            <div class="help-icon">?
                                <span class="help-tooltip">
                                    Exclude substrates with a given AA at a defined
                                    residue in the sequence.
                                </span>
                            </div>
                        </div>
                        <div id="exclAAContainer"></div>
                    </div>

                    <!-- Execute -->
                    <div class="button-wrapper">
                        <button class="button" onclick="buttonFilterSubs('motif')">Evaluate</button>
                    </div>
                </form>
            </div>
        </div>
        <div class=ft>
            <span>Version 1.0.0 (2026)</span>
            <a href="https://brent.iverson.cm.utexas.edu/">
                <button class="btn">Iverson Lab</button>
            </a>
        </div>
    </body>
</html>