<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="../static/app.js"></script>
    <title>COMET</title>
</head>
    <body>
        <!-- Header -->
        <div>
            <h1>COmprehensive Motif Evaluation Toolkit</h1>
        </div>
        <div>
            <!-- Header Buttons -->
            <div class="container-header">
                <div class="button-group">
                    <button class="buttonHeader" onclick="pageProcessDNA()">Process DNA</button>
                    <button class="buttonHeader" onclick="pageFilterAA()">Filter AA</button>
                    <button class="buttonHeader" onclick="pageFilterMotif()">Filter Motif</button>
                    <button class="buttonHeader" onclick="pageCombineProfiles()">Combine Profiles</button>
                </div>
                <div class="button-group-r">
                    <button class="buttonHeader" onclick="pageHome()">Help</button>
                    <button class="buttonHeader" onclick="pageResources()">Resources</button>
                </div>
            </div>
        </div>


        <!-- Application -->
        <div class="box">
            <h2>Resources</h2>
            <div class="box-form">
                <form id="resources" enctype="multipart/form-data" class="input-form" method="post">
                    <div class="p2">
                        COMET
                        <div>
                            <img src="../static/COMET.png" style="width: 90%; margin: 10px;"/>
                        </div>
                    </div>
                </form>
            </div>

            <div class="form-group">
                <div class="p2">Literature:</div>
                <div class="p">
                    <p>Paper</p>
                </div>
            </div>
        </div>
        <div class=ft>
            <span>Version 1.0.0 (2026)</span>
            <a href="https://brent.iverson.cm.utexas.edu/">
                <button class="btn">Iverson Lab</button>
            </a>
        </div>
    </body>
</html>