<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="../static/app.js"></script>
    <title>Enzyme Profiling</title>
</head>
    <body>
        <!-- Header -->
        <div>
            <h1>COmprehensive Motif Evaluation Toolkit</h1>
        </div>
        <div>
            <!-- Header Buttons -->
            <div class="container-header">
                <div class="button-group">
                <button class="buttonHeader" onclick="pageHome()">Home</button>
                <button class="buttonHeader" onclick="pageProcessDNA()">Process DNA</button>
                <button class="buttonHeader" onclick="pageFilterAA()">Filter AA</button>
                <button class="buttonHeader" onclick="pageFilterMotif()">Filter Motif</button>
            </div>
            <div class="button-group-r">
                <button class="buttonHeader" onclick="pageResources()">Resources</button>
            </div>
        </div>


        <!-- Application -->
        <div class="box">
            <h2>Resources</h2>
            <p>
                Useful Infos:
            </p>
            <div class="form-group">
                <label>Literature:</label>
                <div class="form-wrapper">
                    <div>Paper</div>
                </div>
            </div>

            <!-- Forms -->
            <div class="box-form">
                <form id="resources" enctype="multipart/form-data" class="input-form" method="post">
                    <p>Words</p>
                </form>
            </div>
        </div>
        <div class=ft>
            <span>Version 1.0.0 (2026)</span>
            <a href="https://brent.iverson.cm.utexas.edu/">
                <button class="btn">Iverson Lab</button>
            </a>
        </div>
</body>
</html>